.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensure the modal appears on top */
}

.modal {
    background-color: white;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 20px;
}

.error-list {
    list-style: none;
    color: red;
    padding: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.input-label {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-bottom: 10px;
}

.login-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #ff5a5f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #e84349;
}

.signupForm {
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.signupForm input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-bottom: 10px;
}

.signupForm button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #008489;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signupForm button:hover {
    background-color: #006c70;
}
