#navbar {
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    height: 50px;
    width: 100%;
}

#right_profile_button {
    border-radius: 50px;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid gray;
    position: relative;
    user-select: none;
    cursor: pointer;
  }

#right_profile_button:hover {
    box-shadow: 0 3px 5px 5px black;
}

#dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
}

/* CSS */
.auth-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; /* Change as needed */
    border: 1px solid #ccc; /* Change border styles */
    padding: 10px;
    border-radius: 10px; /* Make the box rounded */
    width: 200px; /* Adjust the width as needed */
    margin-top: 10px; /* Add margin to shift the container down */
  }

  .auth-links a {
    text-decoration: none;
    color: #333; /* Link text color */
    margin: 8px 0; /* Adjust spacing between links */
  }

  .auth-links a:hover {
    color: #ff0000; /* Change link color on hover */
  }
